<footer>
	<img src="justinilao.jpg" class="logo" />
	<p>©: 2023 by Justin Ilao</p>
	<p><a href="mailto:Justinilaoo@hotmail.com">Justinilaoo@hotmail.com</a></p>
        <p><a href="https://www.linkedin.com/in/justin-ilao-b82392299/">Linkedin</a></p>
        <p><a href="https://github.com/drdeadkin/">Github</a></p>
</footer>
