<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Portfolio Website</title>
		<link rel="stylesheet" href="/style.css" />
	</head>
	<body></body>
</html>

<div id="header">
    <div class="container">
        <%- include('../partials/header'); %>
        <div class="first-text">
            <h1>Hey There!, <br>I am Justin Ilao, a second year student at <span>Ontario Tech University</span></h1>
        </div>
        <div class="about-me" id="abt-me">
            <p>About Me</p>
            <h1>I grew up in Brampton, Ontario and graduated from Cardinal Leger Secondary School. I started learning about computers from a young age, from building my own computer at age 12 to coding in python, computers have always interested and fascinated me.  </h1>
        </div>
        <div class="pictures">
            <img src ="1st.JPG" class ="pic1">
            <img src ="2nd.JPG" class ="pic1">
            <img src ="3rd.JPG" class ="pic1">        
        </div>
        <%- include('../partials/footer'); %>
    </div>    
</div>
</body>    
</html>