<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Portfolio Website</title>
		<link rel="stylesheet" href="style1.css" />
	</head>
	<body></body>
</html>
<body>
    <div id="header">
        <div class="container">
            <%- include('../../partials/header'); %>
            <div class="Projects">
                <p>Projects</p>
                <h1>One of my first projects when I was learning how to code was a program that created and stored a password of any length for different purposes</h1>
                <img src="1st_python.JPG" class="pics">
                <img src="2nd_python.JPG" class="pics">
                <h2>My most latest project was a python project for school where I collaborated with peers to create a program that encrypted and dechiphered multiple ciphers using OOP</h2>
                <img src="3rd_python.JPG" class="pics">
                <img src="4th_python.JPG" class="pics">
            </div>
            <%- include('../../partials/footer'); %>
</body>    
</html>